.dino-game{
    margin:100px 100px;
    border: solid black;
    height:200px;
    width:600px;
}
.dino{
    width: 70px;
    height: 80px;
    background-image: url(kiara.png);
    background-size: 70px 80px;
    position: absolute;
    top:280px;
    left:120px;
}
.catcus{
    width: 25px;
    height: 45px;
    background-image: url(KFP_chicken.png);
    background-size: 25px 45px;
    position:absolute;
    top:320px;
    left:650px;
    animation: catcus_move linear 1.3s;
}

#point{
    text-align: center;
}

.jump{
    animation: dino_jump linear 0.4s;
}

@keyframes dino_jump{
    0%{
        top:280px;
    }
    50%{
        top:190px;
    }
    100%{
        top:280px;
    }
}

@keyframes catcus_move{
    0%{
        left:650px;
    }
    100%{
        left:100px;
    }
}
